<form action='{{ action }}' method="post" enctype="multipart/form-data" id="form-language" style="display:inline-block"
    class="dropdown">
    {% if languages|length > 1 %}
    <li class="dropdown-toggle" data-toggle="dropdown">

        <span class="hidden-xs hidden-sm hidden-md">
            {% for language in languages %}
            {% if language.code == code %}
            <img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}" title="{{ language.name }}">
            {% endif %}

            {% endfor %}
            <a href="#">
                {{ text_currency }}
            </a>
        </span>&nbsp;
        <i class="fa fa-caret-down"></i>
    </li>
    <ul class="dropdown-menu">
        {% for language in languages %}
        <li>
            <span class="currency-select" name="{{ language.code }}">
                <a href="#" class="currency_item">

                    <div class=" language-select" type="button" name="{{ language.code }}">

                        <img src="catalog/language/{{ language.code }}/{{ language.code }}.png" alt="{{ language.name }}"
                            title="{{ language.name }}" />
                        <span>{{ language.name }}</span>
                    </div>
                </a>
            </span>
        </li>
        {% endfor %}
    </ul>
    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
    {% endif %}
</form>